<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/jvavee/web-app_3.0.xsd">

	<!-- needed for ContextLoaderListener -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:/spring-beans.xml
		</param-value>
	</context-param>

	<!-- Bootstraps the root web application context before servlet initialization -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	

	<listener>
		<listener-class>com.ljw.spring.start.listener.StartInitListener</listener-class>
	</listener>
	
	<!-- 服务启动之后，任何请求调用的时候，加载 -->
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	
	
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	
	<filter>
		<filter-name>securityFilter</filter-name>
	    <filter-class>com.ljw.spring.start.filter.SecurityFilter</filter-class>
	</filter>
	
	<filter>
		<filter-name>myFilter1</filter-name>
		<filter-class>com.ljw.spring.start.filter.MyFilter1</filter-class>
	</filter>
	
	<filter>
		<filter-name>myFilter2</filter-name>
		<filter-class>com.ljw.spring.start.filter.MyFilter2</filter-class>
	</filter>
	
	
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
	    <filter-name>securityFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>myFilter1</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter-mapping>
		<filter-name>myFilter2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<servlet>
		<servlet-name>flashPortalCache</servlet-name>
		<servlet-class>com.ljw.spring.start.servlet.MyServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>flashPortalCache</servlet-name>
		<url-pattern>/myServlet/*</url-pattern>
	</servlet-mapping>
	
</web-app>